In [1]:
import pandas as pd
import numpy as np

In [6]:
empDf= pd.read_csv("EMPLOYEES.csv",index_col= 'employ_id')
jobHistDf= pd.read_csv("JOB_HISTORY.csv", index_col= 'employee_id')

In [7]:
empDf.head(10)

,first_name,last_name,email,phone_number,hire_date,job_id,salary,commission_pct,manager_id,department_id
employ_id,,,,,,,,,,
100,Steven,King,SKING,515.123.4567,1987-06-17,AD_PRES,24000,NaN,NaN,90.0
101,Neena,Kochhar,NKOCHHAR,515.123.4568,1987-06-18,AD_VP,17000,NaN,100.0,90.0
102,Lex,De Haan,LDEHAAN,515.123.4569,1987-06-19,AD_VP,17000,NaN,100.0,90.0
103,Alexander,Hunold,AHUNOLD,590.423.4567,1987-06-20,IT_PROG,9000,NaN,102.0,60.0
104,Bruce,Ernst,BERNST,590.423.4568,1987-06-21,IT_PROG,6000,NaN,103.0,60.0
105,David,Austin,DAUSTIN,590.423.4569,1987-06-22,IT_PROG,4800,NaN,103.0,60.0
106,Valli,Pataballa,VPATABAL,590.423.4560,1987-06-23,IT_PROG,4800,NaN,103.0,60.0
107,Diana,Lorentz,DLORENTZ,590.423.5567,1987-06-24,IT_PROG,4200,NaN,103.0,60.0
108,Nancy,Greenberg,NGREENBE,515.124.4569,1987-06-25,FI_MGR,12000,NaN,101.0,100.0
109,Daniel,Faviet,DFAVIET,515.124.4169,1987-06-26,FI_ACCOUNT,9000,NaN,108.0,100.0

In [8]:
jobHistDf.head(10)

             start_date   end_date`      job_id  department_id
employee_id
102          1993-01-13  1998-07-24     IT_PROG             60
101          1989-09-21  1993-10-27  AC_ACCOUNT            110
101          1993-10-28  1997-03-15      AC_MGR            110
201          1996-02-17  1999-12-19      MK_REP             20
114          1998-03-24  1999-12-31    ST_CLERK             50
122          1999-01-01  1999-12-31    ST_CLERK             50
200          1987-09-17  1993-06-17     AD_ASST             90
176          1998-03-24  1998-12-31      SA_REP             80
176          1999-01-01  1999-12-31      SA_MAN             80
200          1994-07-01  1998-12-31  AC_ACCOUNT             90

In [10]:
empJobsDf= empDf.merge(jobHistDf, how='inner',left_index=True,right_index=True,suffixes=('_emp', '_job_hist'), indicator=True)

empJobsDf.head(10)
empJobsDf

In [12]:
jobGroup= empJobsDf.groupby('job_id_job_hist')