In [6]:
import cx_Oracle
import pandas as pd

In [4]:
import cx_Oracle
ip = 'localhost'
port = '1521'
SERVICE_NAME  = 'orcl'
dsn_tns = cx_Oracle.makedsn(ip, port, SERVICE_NAME)

connection = cx_Oracle.connect('hr', 'hr', dsn_tns)

In [8]:
df1= pd.read_sql(sql="select * from employees", con=connection)

In [10]:
# df1