In [1]:
import pandas as pd

In [2]:
week1Df= pd.read_csv("Restaurant - Week 1 Sales.csv")
week2Df= pd.read_csv("Restaurant - Week 2 Sales.csv")

In [4]:
week1Df.head(10)

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1
3          202        2
4          155        9
5          213        8
6          600        1
7          503        5
8           71        3
9          174        3

In [3]:
week2Df.head(5)

   Customer ID  Food ID
0          688       10
1          813        7
2          495       10
3          189        5
4          267        3

In [2]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")
satisfaction = pd.read_csv("Restaurant - Week 1 Satisfaction.csv")

In [5]:
week1.head(2)

   Customer ID  Food ID
0          537        9
1           97        4

In [6]:
satisfaction.head(2)

   Satisfaction Rating
0                    2
1                    7

In [7]:
customers.head(2)

   ID First Name Last Name  Gender  Company                     Occupation
0   1     Joseph   Perkins    Male  Dynazzy  Community Outreach Specialist
1   2   Jennifer   Alvarez  Female     DabZ        Senior Quality Engineer

In [8]:
foods.head(2)

   Food ID Food Item  Price
0        1     Sushi   3.99
1        2   Burrito   9.99

In [3]:
week1Cust= pd.merge(customers, week1, how= 'left', left_on='ID', right_on='Customer ID', suffixes=('_cust', '_week1'), indicator=True)

In [4]:
week1Cust[:2]

,ID,First Name,Last Name,Gender,Company,Occupation,Customer ID,Food ID,_merge
0,1,Joseph,Perkins,Male,Dynazzy,Community Outreach Specialist,NaN,NaN,left_only
1,2,Jennifer,Alvarez,Female,DabZ,Senior Quality Engineer,NaN,NaN,left_only

In [7]:
custNotInWeek1= week1Cust[week1Cust['_merge'].isin(['left_only'])]

In [17]:
custNotInWeek1.ix[custNotInWeek1['Food ID']!=None]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,ID,First Name,Last Name,Gender,Company,Occupation,Customer ID,Food ID,_merge
0,1,Joseph,Perkins,Male,Dynazzy,Community Outreach Specialist,NaN,NaN,left_only
1,2,Jennifer,Alvarez,Female,DabZ,Senior Quality Engineer,NaN,NaN,left_only
3,4,Steven,Evans,Male,Fatz,Registered Nurse,NaN,NaN,left_only
4,5,Judy,Morrison,Female,Demivee,Legal Assistant,NaN,NaN,left_only
5,6,Amanda,Howell,Female,Thoughtbridge,Dental Hygienist,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...
1023,995,Sarah,Nguyen,Female,Trilia,Programmer IV,NaN,NaN,left_only
1024,996,Debra,Garcia,Female,Dazzlesphere,Structural Engineer,NaN,NaN,left_only
1025,997,Douglas,Bishop,Male,Livepath,Developer I,NaN,NaN,left_only
1026,998,Frank,Franklin,Male,Brainverse,Nurse Practicioner,NaN,NaN,left_only
1027,999,Jessica,Burns,Female,Babbleblab,Financial Advisor,NaN,NaN,left_only

In [20]:
custNotInWeek1[:2]

,ID,First Name,Last Name,Gender,Company,Occupation,Customer ID,Food ID,_merge
0,1,Joseph,Perkins,Male,Dynazzy,Community Outreach Specialist,NaN,NaN,left_only
1,2,Jennifer,Alvarez,Female,DabZ,Senior Quality Engineer,NaN,NaN,left_only

In [28]:
custNotInWeek1[custNotInWeek1["Food ID"].isnull()].count()

ID             779
First Name     779
Last Name      779
Gender         779
Company        779
Occupation     779
Customer ID      0
Food ID          0
_merge         779
dtype: int64

In [35]:
custNotInWeek1.drop(labels='ID', axis=1, inplace=True).reset_index(drop=True, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

AttributeError: 'NoneType' object has no attribute 'reset_index'

In [36]:
custNotInWeek1[:2]

,First Name,Last Name,Gender,Company,Occupation,Customer ID,Food ID,_merge
0,Joseph,Perkins,Male,Dynazzy,Community Outreach Specialist,NaN,NaN,left_only
1,Jennifer,Alvarez,Female,DabZ,Senior Quality Engineer,NaN,NaN,left_only