In [5]:
import pandas as pd

In [6]:
prices=[1,2.5]
print(pd.Series(prices))

0    1.0
1    2.5
dtype: float64

In [12]:
days=['mon','tue','wed','thur','fri']
seq=[1,2,3,4,5]
print(pd.Series(days,seq))

1     mon
2     tue
3     wed
4    thur
5     fri
dtype: object

In [22]:
pokemon= pd.read_csv("pokemon.csv",usecols=['Pokemon'],squeeze=True)
print(pokemon)

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [24]:
google= pd.read_csv("google_stock_price.csv",squeeze=True)

In [39]:
google= pd.read_csv("google_stock_price.csv",squeeze=True)
print(google)
google.head(10)
# list(google)
google.values
google.dtype
dir(google)
google.is_unique
google.shape

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

(3012,)

In [41]:
google.size

3012

In [47]:
google.name
google.head()
google.name='renamed_series_google'
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: renamed_series_google, dtype: float64

In [52]:
google.sort_index(ascending=False).head(1)

3011    782.22
Name: renamed_series_google, dtype: float64

In [54]:
google.sort_values(ascending=False, inplace=True)
google.head(10)

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
3008    771.07
2860    771.00
3006    768.79
2840    767.04
2843    766.81
Name: renamed_series_google, dtype: float64

In [65]:
google=pd.read_csv('google_stock_price.csv',squeeze=True,usecols=['Stock Price'])
google.sort_values(inplace=True)
google.head(10)
google.sort_index(inplace=True)
google.head(10)

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
5    53.90
6    53.02
7    50.95
8    51.13
9    50.07
Name: Stock Price, dtype: float64

In [72]:
import numpy as np
arrays = [np.array(['qux', 'qux', 'foo', 'foo','baz', 'baz', 'bar', 'bar']),
          np.array(['two', 'one', 'two', 'one','two', 'one', 'two', 'one'])]
s = pd.Series([1, 2, 3, 4, 5, 6, 7, 8], index=arrays)
s1=pd.Series(arrays)
s
s1

0    [qux, qux, foo, foo, baz, baz, bar, bar]
1    [two, one, two, one, two, one, two, one]
dtype: object

In [83]:
pokemonNew=pd.read_csv('pokemon.csv',squeeze=True,index_col='Pokemon')
pokemonNew[::-1]
pokemonNew[[0,100]]
pokemonNew[0:100]

Pokemon
Bulbasaur        Grass
Ivysaur          Grass
Venusaur         Grass
Charmander        Fire
Charmeleon        Fire
                ...
Drowzee        Psychic
Hypno          Psychic
Krabby           Water
Kingler          Water
Voltorb       Electric
Name: Type, Length: 100, dtype: object

In [95]:
pokemonNew.head(3)
pokemonNew.get(['Bulbasaur','Ivysaur'])
pokemonNew.head(3)
pokemonNew.get(['Bulbasaur','Ivysaur'])
pokemonNew.get(key='Digimon',default='No value present')
pokemonNew.get(key=['Bulbasaur','Ivysaur','Sabbysaur'],default='No value present')

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Sabbysaur      NaN
Name: Type, dtype: object

In [98]:
googleNew= pd.read_csv('google_stock_price.csv', squeeze=True)
googleNew.idxmin()
googleNew.idxmax()

3011

In [100]:
pokemonNew.value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Psychic      47
Fire         47
Rock         41
Electric     36
Ground       30
Dark         28
Poison       28
Fighting     25
Dragon       24
Ice          23
Ghost        23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [12]:
newSeries= pd.Series([1,2,3,4,5])
print(type(newList))
Listt= newSeries.tolist()
Listt2= list(newSeries)
print(type(Listt))
print(type(Listt2))

<class 'pandas.core.series.Series'>
<class 'list'>
<class 'list'>

In [19]:
s1= pd.Series([2, 4, 6, 8, 10],name='s1')
s2= pd.Series([1, 3, 5, 7, 9],name='s2')
s3= s1+s2
print(s3)

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [28]:
s1= pd.Series([2, 4, 6, 8, 10], name='s1')
s2= pd.Series([1, 3, 5, 7, 9], name='s2')
s3=s2/s1
print(s3)
dir(s3)
print(s3.sort_values(ascending=True).head(1))

0    0.500000
1    0.750000
2    0.833333
3    0.875000
4    0.900000
dtype: float64
0    0.5
dtype: float64

In [34]:
dictSeries= pd.Series(data={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800})
print(dictSeries)
print(type(dictSeries))
dictt= dict(dictTest)
print(type(dictt))
print(dictt)

a    100
b    200
c    300
d    400
e    800
dtype: int64
<class 'pandas.core.series.Series'>
<class 'dict'>
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [43]:
import numpy as np
npArray= np.array([10,20,30,40,50])
print(npArray)
print(type(npArray))
series= pd.Series(npArray)
print(type(series))

[10 20 30 40 50]
<class 'numpy.ndarray'>
<class 'pandas.core.series.Series'>

In [51]:
series= pd.Series(data=[100,200,'python',300.12,400])
print(series)
dir(series)
pd.to_numeric(series,errors='coerce')

0       100
1       200
2    python
3    300.12
4       400
dtype: object

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [63]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df1= pd.DataFrame(data=d)

In [72]:
series= pd.Series(data=[100,200,'python',300.12,400])
arr= np.array(series.tolist())
print(type(arr))
print(arr)

<class 'numpy.ndarray'>
['100' '200' 'python' '300.12' '400']

In [89]:
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print(s)
sNew=s.apply(pd.Series).stack().reset_index(drop=True)
print(type(sNew))
print(sNew)

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
<class 'pandas.core.series.Series'>
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [1]:
listSeries= list(map(str, pd.Series(data=[100,200,'python',300.12,400]).tolist()))
# pd.to_string(series,errors='coerce')
print(type(listSeries))
print(listSeries)
sorted(listSeries)
newSeries= pd.Series(sorted(listSeries))
print(newSeries)

NameError: name 'pd' is not defined

In [19]:
data=pd.Series([100,200,'python',300.12,400])
print(data)
# data.append(pd.Series([1,2]))
# print(data)
newList=list(map(str,[1,2,3]))
type(newList)
print(newList)
data.append(pd.Series(newList))
print(data)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
['1', '2', '3']
0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [20]:
import pandas as pd
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s)
print("\nData Series after adding some data:")
new_s = s.append(pd.Series(['500', 'php']))
print(new_s)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Data Series after adding some data:
0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

In [26]:
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print(s)
s= s.reindex(index = ['A', 'S', 'C','D','E'])
print(s)

A    1
B    2
C    3
D    4
E    5
dtype: int64
A    1.0
S    NaN
C    3.0
D    4.0
E    5.0
dtype: float64