In [3]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [6]:
df1= pd.DataFrame(data=exam_data, index= labels)

In [11]:
df1

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [8]:
color = ['Red','Blue','Orange','Red','White','White','Blue','Green','Green','Red']

In [12]:
df1['color']=color

In [13]:
df1

        name  score  attempts qualify   color
a  Anastasia   12.5         1     yes     Red
b       Dima    9.0         3      no    Blue
c  Katherine   16.5         2     yes  Orange
d      James    NaN         3      no     Red
e      Emily    9.0         2      no   White
f    Michael   20.0         3     yes   White
g    Matthew   14.5         1     yes    Blue
h      Laura    NaN         1      no   Green
i      Kevin    8.0         2      no   Green
j      Jonas   19.0         1     yes     Red

In [ ]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [14]:
df2= pd.DataFrame(data= exam_data, index= labels)

In [15]:
df2.head(5)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no

In [19]:
df2.index
list(df2.columns)

['name', 'score', 'attempts', 'qualify']

In [20]:
d = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df = pd.DataFrame(data=d)

In [23]:
df.rename(columns={'col1':'column1','col2':'column2','col3':'column3'})

In [24]:
df

   column1  column2  column3
0        1        4        7
1        2        5        8
2        3        6        9

In [27]:
mask= df['column1']==3

In [28]:
df[mask]

   column1  column2  column3
2        3        6        9

In [31]:
df= df[['column3','column2','column1']]

In [33]:
df
cols= ['column3','column2']
df[cols]

   column3  column2
0        7        4
1        8        5
2        9        6

In [35]:
dataset= {'city': ['California' ,'Georgia' ,'Los Angeles'], 'Number of people': [4,2,4]}

In [36]:
peopleDf= pd.DataFrame(data= dataset)

In [40]:
cityDf= peopleDf.groupby('city')

In [41]:
peopleDf

          city  Number of people
0   California                 4
1      Georgia                 2
2  Los Angeles                 4

In [50]:
cityDf.get_group('Georgia')['Number of people'].sum()

2

In [ ]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)

In [51]:
df

   column3  column2  column1
0        7        4        1
1        8        5        2
2        9        6        3